// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#game-index {
    font-family: 'BioRhyme', serif;
    color: black;
    text-align: center;
}

#gamesdiv {
    text-align: center;
}

#bottom-links{
    text-align: center;
}
